In [1]:
%pip install mysql-connector-python
%pip install --upgrade mysql-connector-python
%pip install mysql-connector-python-rf

Requirement already satisfied: mysql-connector-python in c:\users\langat kevin\appdata\local\programs\python\python311\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mysql-connector-python in c:\users\langat kevin\appdata\local\programs\python\python311\lib\site-packages (8.3.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: mysql-connector-python-rf in c:\users\langat kevin\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

## Connect to MySQL using mysql.connector

In [4]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="mypass",
    auth_plugin='mysql_native_password',
    database = "testdatabase"
)

my_cursor = db.cursor()

## Creating a table

In [5]:
my_cursor.execute("CREATE TABLE Person(name VARCHAR(50), age smallint UNSIGNED , PersonId int PRIMARY KEY AUTO_INCREMENT)")

## Check whether the table is created

In [6]:
my_cursor.execute("DESCRIBE Person")

for x in my_cursor:
    print(x)

('name', b'varchar(50)', 'YES', bytearray(b''), None, '')
('age', b'smallint unsigned', 'YES', bytearray(b''), None, '')
('PersonId', b'int', 'NO', bytearray(b'PRI'), None, 'auto_increment')

## Insert values to the table

In [14]:
my_cursor.execute("INSERT INTO Person (name, age) VALUES (%s,%s)", ("Jane", 45))
db.commit()

## SELECT Command

In [16]:
my_cursor.execute("SELECT * FROM Person WHERE age > 50")

for x in my_cursor:
    print(x)

('Joey', 55, 4)
('Carol', 56, 5)

## Modify Table

In [17]:
my_cursor.execute("ALTER TABLE Person ADD COLUMN food VARCHAR(50) NOT NULL")

my_cursor.execute("DESCRIBE Person")
for x in my_cursor:
    print(x)

('name', b'varchar(50)', 'YES', bytearray(b''), None, '')
('age', b'smallint unsigned', 'YES', bytearray(b''), None, '')
('PersonId', b'int', 'NO', bytearray(b'PRI'), None, 'auto_increment')
('food', b'varchar(50)', 'NO', bytearray(b''), None, '')

## Change Column name

In [18]:
my_cursor.execute("ALTER TABLE Person CHANGE food car VARCHAR(50) NOT NULL")

my_cursor.execute("DESCRIBE Person")
for x in my_cursor:
    print(x)

('name', b'varchar(50)', 'YES', bytearray(b''), None, '')
('age', b'smallint unsigned', 'YES', bytearray(b''), None, '')
('PersonId', b'int', 'NO', bytearray(b'PRI'), None, 'auto_increment')
('car', b'varchar(50)', 'NO', bytearray(b''), None, '')

## Use Python comnand to create a table

In [12]:
def create_table(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Table created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [13]:
def inser_data(connection, query, data):
    cursor = connection.cursor()
    try:
        cursor.execute(query, data)
        connection.commit()
        print("Data inserted successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [14]:
def query_data(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error '{err}'")

## Database connection parameters

In [15]:
host = "localhost"
database = "db"
user = "user"
password = "mypass"

#Establish a connection
conn = create_server_connection(host, user, password, database)

#SQL to create a table
create_table_query = """
CREATE TABLE IF NOT EXISTS employees(
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(100),
    start_date DATE
);
"""

#Create a table
create_table(conn, create_table_query)

NameError: name 'mypass' is not defined

In [ ]:
insert_query = '''
INSERT INTO employee(name, position, start_date)
VALUES(Langat Kevin, Junior Data Analyst, 01/10/2023)

'''
employee_data = ("Langat Kevin", "Data Engineer", "2022-09-19")

#Insert data
inser_data(conn, insert_query, employee_data)

NameError: name 'conn' is not defined

In [ ]:
query = "SELECT * FROM employee;"

employees = query_data(conn, query)
for employee in employees:
    print(employee)

conn.close

NameError: name 'conn' is not defined

## To fix errors