In [10]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\langat kevin\appdata\local\programs\python\python311\lib\site-packages (8.3.0)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import mysql.connector
from mysql.connector import Error 

def create_server_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            password = user_password,
            database = db_name
        )

        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

## Use Python comnand to create a table

In [12]:
def create_table(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Table created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [13]:
def inser_data(connection, query, data):
    cursor = connection.cursor()
    try:
        cursor.execute(query, data)
        connection.commit()
        print("Data inserted successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [14]:
def query_data(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error '{err}'")

## Database connection parameters

In [19]:
host = "localhost"
database = "bepec"
user = "root"
password = "123"

#Establish a connection
conn = create_server_connection(host, user, password, database)

#SQL to create a table
create_table_query = """
CREATE TABLE IF NOT EXISTS employees(
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(100),
    start_date DATE
);
"""

#Create a table
create_table(conn, create_table_query)

Error: '2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)'

AttributeError: 'NoneType' object has no attribute 'cursor'

In [ ]:
insert_query = '''
INSERT INTO employee(name, position, start_date)
VALUES(Langat Kevin, Junior Data Analyst, 01/10/2023)

'''
employee_data = ("Langat Kevin", "Data Engineer", "2022-09-19")

#Insert data
inser_data(conn, insert_query, employee_data)

NameError: name 'conn' is not defined

In [ ]:
query = "SELECT * FROM employee;"

employees = query_data(conn, query)
for employee in employees:
    print(employee)

conn.close

NameError: name 'conn' is not defined

## To fix errors