In [1]:
%pip install mysql-connector-python
%pip install --upgrade mysql-connector-python
%pip install mysql-connector-python-rf

Requirement already satisfied: mysql-connector-python in c:\users\langat kevin\appdata\local\programs\python\python311\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mysql-connector-python in c:\users\langat kevin\appdata\local\programs\python\python311\lib\site-packages (8.3.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: mysql-connector-python-rf in c:\users\langat kevin\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

## Connect to MySQL using mysql.connector

In [4]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="mypass",
    auth_plugin='mysql_native_password',
    database = "testdatabase"
)

my_cursor = db.cursor()

## Creating a table

In [5]:
my_cursor.execute("CREATE TABLE Person(name VARCHAR(50), age smallint UNSIGNED , PersonId int PRIMARY KEY AUTO_INCREMENT)")

## Check whether the table is created

In [6]:
my_cursor.execute("DESCRIBE Person")

for x in my_cursor:
    print(x)

('name', b'varchar(50)', 'YES', bytearray(b''), None, '')
('age', b'smallint unsigned', 'YES', bytearray(b''), None, '')
('PersonId', b'int', 'NO', bytearray(b'PRI'), None, 'auto_increment')

## Insert values to the table

In [14]:
my_cursor.execute("INSERT INTO Person (name, age) VALUES (%s,%s)", ("Jane", 45))
db.commit()

## SELECT Command

In [16]:
my_cursor.execute("SELECT * FROM Person WHERE age > 50")

for x in my_cursor:
    print(x)

('Joey', 55, 4)
('Carol', 56, 5)

## Modify Table

In [17]:
my_cursor.execute("ALTER TABLE Person ADD COLUMN food VARCHAR(50) NOT NULL")

my_cursor.execute("DESCRIBE Person")
for x in my_cursor:
    print(x)

('name', b'varchar(50)', 'YES', bytearray(b''), None, '')
('age', b'smallint unsigned', 'YES', bytearray(b''), None, '')
('PersonId', b'int', 'NO', bytearray(b'PRI'), None, 'auto_increment')
('food', b'varchar(50)', 'NO', bytearray(b''), None, '')

## Change Column name

In [18]:
my_cursor.execute("ALTER TABLE Person CHANGE food car VARCHAR(50) NOT NULL")

my_cursor.execute("DESCRIBE Person")
for x in my_cursor:
    print(x)

('name', b'varchar(50)', 'YES', bytearray(b''), None, '')
('age', b'smallint unsigned', 'YES', bytearray(b''), None, '')
('PersonId', b'int', 'NO', bytearray(b'PRI'), None, 'auto_increment')
('car', b'varchar(50)', 'NO', bytearray(b''), None, '')

## Foreign Keys $ Relating Tables